<!--usar request.user.is_authenticated no funciona-->
{% if user.is_authenticated %}
<header>
<nav class="navbar navbar-inverse navbar-fixed-top row">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="margin-left:0px;">{{ titulo }}</p>
        </div>

        <ul class="nav navbar-nav navbar-right">
            {% if user.username == 'minidani' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Superadmin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick='dialog_usuaris_xarxa_sense_assignar();'>Usuaris-xarxa sense assignar</a></li>
                        <!--<li><a href="#" onclick='dialog_usuaris_xarxa_cabecera();'>Usuaris xarxa</a></li>-->
                    </ul>
                </li>
                {% load static %}
                <script type="text/javascript" src="{% static 'jquery/funciones_superadmin.js' %}"></script>
            {% endif %}
            {% for group in user.groups.all %}
                {% if group.name == 'Admins gestprj' %}
            <script>Admin=1;</script>
            <li>
                <a href="/modificar_projecte">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nou projecte
                </a>
            </li>


            <li>
                <a href="/llista_projectes">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Editar projectes
                </a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Consultes
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!--<li><a href="/welcome/">Idioma</a></li>-->
                    <li><a href="#" onclick='dialog_justificacions_cabecera();'>Justificacions</a></li>
                    <li><a href="#" onclick='dialog_auditories_cabecera();'>Auditories</a></li>
                    <li><a href="#" onclick='dialog_imputacio_ingressos();'>Imputació Ingressos</a></li>
<!--                    <li><a href="#" onclick='dialog_pci_cabecera();'>PCI</a></li>-->
                    <li class="divider"></li>
                    <li class="dropdown-header">  Resum Projectes:</li>
                    <li><a href="#" onclick='dialog_projectes_per_responsable_cabecera();'>Projectes per responsable</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">  Generar informe:</li>
                    <li><a href="#" onclick='dialog_informe_projectes_periode(1);'>Informe de projectes en X període</a></li>
                    <li><a href="#" onclick='dialog_informe_projectes_periode(2);'>Informe de finançadors de projectes en X període</a></li>
                    <li><a href="#" onclick='dialog_informe_projectes_periode(3);'>Informe de receptors de projectes en X període</a></li>
                    <li><a href="#" onclick='dialog_informe_projectes_periode(4);'>Informe de justificacions internes de projectes en X període</a></li>
                    <li><a href="#" onclick='dialog_informe_projectes_periode(5);'>Informe de concessions/renovacions de projectes en X període</a></li>
                    <!--<li class="dropdown-header">  Usuaris:</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#" onclick='mostrar_dialog_cabecera("table_usuaris_creaf_cabecera");'>Usuaris CREAF</a></li>-->
                    <!--<li><a href="#" onclick='mostrar_dialog_cabecera("table_usuaris_externs_cabecera");'>Usuaris extern</a></li>-->
                </ul>
            </li>
            <form id="form_generar_informe_periode_cabecera" method="post" action="/generar_informe_periode_cabecera/" hidden>
                {% csrf_token %}
                <input id="form_generar_informe_periode_cabecera_data_ini" name="data_ini" value="" hidden/>
                <input id="form_generar_informe_periode_cabecera_data_fin" name="data_fi" value="" hidden/>
                <input id="form_generar_informe_periode_cabecera_tipo" name="tipo" value="" hidden/>
            </form>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Edició
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!--<li><a href="/welcome/">Idioma</a></li>-->
                    <li><a href="#" onclick='dialog_organismes_cabecera();'>Organismes</a></li>
<!--                    <li><a href="#" onclick='dialog_grups_pci_cabecera();'>Grups PCI</a></li>-->
                    <li class="divider"></li>
                    <li class="dropdown-header">  Usuaris:</li>
                    <li><a href="#" onclick='dialog_usuaris_creaf_cabecera();'>Usuaris CREAF</a></li>
                    <li><a href="#" onclick='dialog_usuaris_externs_cabecera();'>Usuaris extern</a></li>
                    <li><a href="#" onclick='dialog_responsables_cabecera();'>Responsables</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Seguretat
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!--<li><a href="/welcome/">Idioma</a></li>-->
                    <li><a href="#" onclick='dialog_permisos_usuaris_consultar();'>Permisos dels usuaris per consultar projectes</a></li>
                    <!--<li class="dropdown-header">  Usuaris:</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#" onclick='mostrar_dialog_cabecera("table_usuaris_creaf_cabecera");'>Usuaris CREAF</a></li>-->
                    <!--<li><a href="#" onclick='mostrar_dialog_cabecera("table_usuaris_externs_cabecera");'>Usuaris extern</a></li>-->
                </ul>
            </li>
                {% endif %}
            {% endfor %}


            <li>
                <a href="/comptabilitat">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Comptabilitat
                </a>
            </li>

            <li>
                <a id="boton_suport" href='mailto:gestprj.suport@creaf.uab.cat' >
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Suport
                </a>
            </li>

            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ user.first_name|add:" "|add:user.last_name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Opcions:</li>
                    <li class="divider"></li>
                    <!--<li><a href="/welcome/">Idioma</a></li>-->
                    <li><a href="/logout/" onclick="borrar_cookies();">Tancar Sessió</a></li>
                </ul>
            </li>

        </ul>
    </div>

</nav>
</header>

<!--DIALOGS Y MODALS DE LA CABECERA(SOLO PARA ADMINS)-->
<div id="dialogs_cabecera" title="" hidden>
<!---->
<!--ORGANISMES-->
<div id="table_organismes_cabecera" class="dialogcabecera" title="Organismes">
    <table class="table table-striped table-bordered datatable">
        <a class="btn btn-success" id="editar_organismes_crear_cabecera" title="Afegir"
           href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear nou organisme
        </a>
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Nom:</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </a>
</div>
<!--PCI( YA NO SE USA!)-->
<!---->
<div id="table_pci_cabecera" class="dialogcabecera" title="PCI">
    <div class="col-md-6">
        Grup PCI: <select id="id_grup_pci_select" class='select_id_pci' name="id_grup" style="max-width:300px;"></select>
        </br>
        <button class="btn btn-info" type="submit" title="Buscar projectes" href="#" onclick="buscar_pci_organisme();">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar Projectes
        </button>
    </div>
    <div class="col-md-6">
        Des de:<input id="data_min_pci" name="data_min_pci"/><br>
        Fins a:<input id="data_max_pci" name="data_max_pci"/><br>
    </div>
    </br>
    </br>
    <table class="table table-striped table-bordered datatable">
        <thead>
        <tr>
            <th>Responsable</th>
            <th>Codi</th>
            <th>Acrònim</th>
            <th>Ingressos</th>
            <th>Despeses</th>
            <th>Canon Aplicat</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!---->
<!--GRUPS PCI ( YA NO SE USA!)-->
<div id="table_grups_pci_cabecera" class="dialogcabecera" title="Grups PCI">
    <table class="table table-striped table-bordered datatable">
        <a class="btn btn-success" id="editar_grups_pci" title="Afegir"
           href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear nou grup PCI
        </a>
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Nom</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
<!--    </a>-->
</div>

<!--IMPUTACIO INGRESSOS-->
<div id="table_imputacio_ingressos" class="dialogcabecera" title="Imputació Ingressos">
    <div class="col-md-12">
        <div class="col-md-6">
            Imputació: <select id="id_imputacio_select" class='select_id_pci' name="id_grup" style="max-width:300px;">
            <option value="0">0 - Nacionales</option>
            <option value="1">------</option>
            <option value="2">2 - MRR</option>
            <option value="3">3 - GENE</option>
            <option value="4">------</option>
            <option value="5">------</option>
            <option value="6">6 - AGAUR</option>
            <option value="7">7 - Fundaciones</option>
            <option value="8">8 - Entidades Locales</option>
            <option value="9">9 - EU</option>
        </select>
        </div>
        <div class="col-md-6">
            Des de:<input id="data_min_imputacio" name="data_min_imputacio"/><br>
            Fins a:  <input id="data_max_imputacio" name="data_max_imputacio"/><br>
        </div>
    </div>
    <br><br>
    <div class="col-md-12">
        <div class="col-md-6">
            Estat del projecte:<br>
            <select id="id_estat_imputacio_select" class='select_id_pci' name="id_grup" style="max-width:300px;">
                <option selected value="0">OBERT</option>
                <option selected value="1">TANCAT</option>
                <option selected value="2">QUALSEVOL ESTAT</option>
            </select>
        </div>
        <div class="col-md-6">
            <br>
            <button class="btn btn-info" type="submit" title="Buscar projectes" href="#" onclick="buscar_imputacio_ingressos();">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar Projectes
            </button>
        </div>
    </div>
    <div class="col-md-12">
    <br>
    </div>
    <table class="table table-striped table-bordered datatable">
        <thead>
        <tr>
            <th>Responsable</th>
            <th>Codi</th>
            <th>Acrònim</th>
<!--            <th>Codi imputació</th>-->
            <th>Ingressos</th>
            <th>Despeses</th>
            <th>Canon Aplicat</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
<!--    </a>-->
</div>
<!---->
<!--    EDITAR-->

<div id="table_editar_grup_pci_cabecera" class="dialogcabecera" title="">

    <form id="formulario_editar_grup_pci" action="/gestor_GrupPci/"
          method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nom Grup PCI</label>
              <input class="form-control" type="text" name="nom_grup">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Descripció</label>
              <input class="form-control" type="text" name="descripcio">
            </div>
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-success" type="submit" title="Guardar canvis" href="#">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>
        </div>
        <div class="col-md-6"></div>
        <div class="form-group col-md-3">
            <button id="button_cancelar_formulario_editar_grup_pci"class="btn btn-danger" title="Cancel·lar" href="#" type="button"  onclick='mostrar_dialog_cabecera("table_grups_pci_cabecera");'>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar
            </button>
            <button id="button_tornar_formulario_editar_grup_pci"class="btn btn-info" title="Tornar" href="#" type="button"  onclick='mostrar_dialog_cabecera("table_grups_pci_cabecera");' hidden>
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tornar
            </button>
        </div>


    </form>
    <br><br>
    <div id="table_editar_organisme_grup_pci">
        <div class="row">
            <hr>
        </div>
        <h3>Afegir Organismes al grup:</h3>
        <p id="id_grup_pci_afegir" hidden></p>
        <div id="token_grup_pci_afegir" hidden>
            {% csrf_token %}
        </div>
        <table class="table table-striped table-bordered datatable">
            <div class="form-row">
             <div class="form-group col-md-6">
                <select id="select_organisme_pci" class='select_id_organisme' name="id_organisme" style="max-width:300px;"></select>
             </div>
            <div class="form-group col-md-2">
                <a class="btn btn-success" id="afegir_organisme_a_grup_pci" title="Afegir"
                   href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Afegir al grup
                </a>
            </div>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Organisme</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!---->
<!--    -->
<!--    -->
<div id="editar_organismes_cabecera" class="dialogcabecera" title="Editar organismes">
    <form id="formulario_editar_organismes_cabecera" action="/gestor_TOrganismes/"
          method="POST">
        {% csrf_token %}

        Nom organisme<input type="text" name="nom_organisme"><br>
        Contacte<input type="text" name="contacte"><br>
        Adreça<input type="text" name="adreca"><br>
        Codi postal<input type="text" name="cp"><br>
        Població<input type="text" name="poblacio"><br>
        Provincia<input type="text" name="provincia"><br>
        País<input type="text" name="pais"><br>
        Telefon 1<input type="text" name="tel1"><br>
        Telefon 2<input type="text" name="tel2"><br>
        Fax<input type="text" name="fax"><br>
        Correu electrónic<input type="text" name="e_mail1"><br>
        Correu electrónic 2<input type="text" name="e_mail2"><br>

        <button class="btn btn-success" type="submit" title="Guardar" href="#">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
        </button>

        <button class="btn btn-danger" title="Cancel·lar" href="#" type="button"
                onclick='mostrar_dialog_cabecera("table_organismes_cabecera");'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar
        </button>
    </form>
</div>
<!---->
 <!---->
    <!--USUARIS CREAF-->
    <div id="table_usuaris_creaf_cabecera" class="dialogcabecera" title="Usuaris CREAF">
        <table class="table table-striped table-bordered datatable">
            <a class="btn btn-success" id="editar_personal_creaf_crear_cabecera" title="Afegir"
               href="#">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear nou personal CREAF
            </a>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Nom i cognoms</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </a>
    </div>
    <!---->

    <div id="editar_usuari_creaf_cabecera" class="dialogcabecera" title="Editar usuaris CREAF">
        <form id="formulario_editar_usuari_creaf_cabecera" action="/gestor_UsuariCreaf/"
              method="POST">
            {% csrf_token %}

            Nom i cognoms<input type="text" name="nom_usuari"><br>
            Adreça<input type="text" name="adreca"><br>
            Codi postal<input type="text" name="cp"><br>
            Població<input type="text" name="poblacio"><br>
            Provincia<input type="text" name="provincia"><br>
            País<input type="text" name="pais"><br>
            Telefon 1<input type="text" name="tel1"><br>
            Telefon 2<input type="text" name="tel2"><br>
            Fax<input type="text" name="fax"><br>
            Correu electrónic<input type="text" name="e_mail1"><br>
            Correu electrónic 2<input type="text" name="e_mail2"><br>
            Organisme: <select class='select_id_organisme' name="id_organisme" style="max-width:300px;"></select>


            <button class="btn btn-success" type="submit" title="Guardar" href="#">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>

            <button class="btn btn-danger" title="Cancel·lar" href="#" type="button"
                    onclick='mostrar_dialog_cabecera("table_usuaris_creaf_cabecera");'>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar
            </button>
        </form>
    </div>
    <!---->
    <!--USUARIS EXTERNS-->
    <!---->
    <div id="table_usuaris_externs_cabecera" class="dialogcabecera" title="Usuaris externs">
        <table class="table table-striped table-bordered datatable">
            <a class="btn btn-success" id="editar_personal_extern_crear_cabecera" title="Afegir"
               href="#">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear personal extern
            </a>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Nom i cognoms</th>
                <th>Organisme</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </a>
    </div>
    <!---->
        <div id="editar_usuari_extern_cabecera" class="dialogcabecera" title="Editar usuari extern">
        <form id="formulario_editar_usuari_extern_cabecera" action="/gestor_UsuariExtern/"
              method="POST">
            {% csrf_token %}

            Nom i cognoms<input type="text" name="nom_usuari_extern"><br>
            Adreça<input type="text" name="adreca"><br>
            Codi postal<input type="text" name="cp"><br>
            Població<input type="text" name="poblacio"><br>
            Provincia<input type="text" name="provincia"><br>
            País<input type="text" name="pais"><br>
            Telefon 1<input type="text" name="tel1"><br>
            Telefon 2<input type="text" name="tel2"><br>
            Fax<input type="text" name="fax"><br>
            Correu electrónic<input type="text" name="e_mail1"><br>
            Correu electrónic 2<input type="text" name="e_mail2"><br>
            Organisme: <select class='select_id_organisme' name="id_organisme" style="max-width:300px;"></select>


            <button class="btn btn-success" type="submit" title="Guardar" href="#">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>

            <button class="btn btn-danger" title="Cancel·lar" href="#" type="button"
                    onclick='mostrar_dialog_cabecera("table_usuaris_externs_cabecera");'>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar
            </button>
        </form>
    </div>
    <!---->
<!--RESPONSABLES-->
    <div id="table_responsables_cabecera" class="dialogcabecera" title="Responsables">
        <table class="table table-striped table-bordered datatable">
            <a class="btn btn-success" id="editar_responsables_crear_cabecera" title="Afegir"
               href="#">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear nou Responsable
            </a>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Codi</th>
                <th>Nom</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </a>
    </div>
    <!---->

    <div id="editar_responsables_cabecera" class="dialogcabecera" title="Editar Responsables">
        <form id="formulario_editar_responsables_cabecera" action="/gestor_Responsables/"
              method="POST">
            {% csrf_token %}

            Codi<input type="text" name="codi_resp"><br>
            Usuari: <select class='select_id_usuari_creaf' name="id_usuari" style="max-width:300px;"></select>


            <button class="btn btn-success" type="submit" title="Guardar" href="#">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>

            <button class="btn btn-danger" title="Cancel·lar" href="#" type="button"
                    onclick='mostrar_dialog_cabecera("table_responsables_cabecera");'>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar
            </button>
        </form>
    </div>
    <!---->
    <!--JUSTIFICACIONS-->
    <!---->
    <div id="table_justificacions_cabecera" class="dialogcabecera" title="Justificacions">
        <table class="table table-striped table-bordered datatable">
            <thead>
            <tr>
                <th>Data Justificació</th>
                <th>Codi</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Període Justificar</th>
                <th>Observacions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!---->
    <!--AUDITORIES-->
    <!---->
    <div id="table_auditories_cabecera" class="dialogcabecera" title="Auditories">
        <table class="table table-striped table-bordered datatable">
            <thead>
            <tr>
                <th>Data Auditoria</th>
                <th>Codi</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Període</th>
                <th>Observacions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!---->
    <!--PERMISOS DELS USUARIS PER CONSULTAR PROJECTES-->
    <!---->
    <div id="table_permisos_usuaris_consultar" class="dialogcabecera" title="Permisos d'usuari per consultar">
        <table class="table table-striped table-bordered datatable">
            <a class="btn btn-success" id="editar_permisos_usuaris_consultar_crear_cabecera" title="Afegir"
               href="#">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear nous permisos
            </a>
            <thead>
                <tr>
                    <th></th>
                    <th>Identificador</th>
                    <th>Nom xarxa</th>
                    <th>Codi</th>
                    <th>Acrònim</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!---->
   <!---->
    <div id="editar_permisos_usuaris_consultar_cabecera" class="dialogcabecera" title="Permisos d'usuaris">
        <form id="formulario_permisos_usuaris_consultar_cabecera" action="/gestor_PermisosUsuarisConsultar/" method="POST">
            {% csrf_token %}

            Usuari: <select class='select_id_usuari_xarxa' name="id_usuari_xarxa" style="max-width:300px;"></select>
            Projecte: <select class='select_id_projecte' name="id_projecte" style="max-width:300px;"></select>

            <button class="btn btn-success" type="submit" title="Guardar" href="#">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
            </button>

            <button class="btn btn-danger" title="Cancel·lar" href="#" type="button"
                    onclick='mostrar_dialog_cabecera("table_permisos_usuaris_consultar");'>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar
            </button>
        </form>
    </div>
    <!---->
    <!--USUARIS XARXA SENSE ASSIGNAR (SOLO SUPERADMIN) -->
    <div id="table_usuaris_xarxa_sense_assignar" class="dialogcabecera" title="Usuaris Xarxa sense assignar">
        <table class="table table-striped table-bordered datatable">
            <thead>
            <tr>
                <th>Id usuari Creaf</th>
                <th>Nom i cognoms</th>
                <th>Nom d'usuari Creaf</th>
                <!--<th>Nom usuari Creaf</th>-->
                <th>Assignar</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!---->
    <!---->
    <!--INFORME PROJECTES EN PERIODE-->
    <!---->
    <div id="table_informe_periode_cabecera" class="dialogcabecera" title="Informe de projectes en període">
        <table class="table table-striped table-bordered datatable">
            <thead>
            <tr>
                <th>Data Justificació</th>
                <th>Codi</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Període Justificar</th>
                <th>Observacions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!--USUARIS XARXA (SOLO SUPERADMIN) -->
    <!--<div id="table_usuaris_xarxa_cabecera" class="dialogcabecera" title="Usuaris Xarxa">-->
        <!--<table class="table table-striped table-bordered datatable">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>Id usuari Creaf</th>-->
                <!--<th>Nom i cognoms</th>-->
                <!--<th>Nom d'usuari Creaf</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--&lt;!&ndash;&ndash;&gt;-->
   <!--&lt;!&ndash;&ndash;&gt;-->
    <!--<div id="editar_usuaris_xarxa_cabecera" class="dialogcabecera" title="Usuaris Xarxa">-->
        <!--<form id="formulario_usuaris_xarxa_cabecera" action="/gestor_UsuarisXarxa/" method="POST">-->
            <!--{% csrf_token %}-->

            <!--Nom xarxa: <select class='select_nom_xarxa' name="nom_xarxa" style="max-width:300px;"></select>-->
            <!--Id usuari (Creaf): <select class='select_id_usuari' name="id_usuari" style="max-width:300px;"></select>-->

            <!--<button class="btn btn-success" type="submit" title="Guardar" href="#">-->
                <!--<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar-->
            <!--</button>-->

            <!--<button class="btn btn-danger" title="Cancel·lar" href="#" type="button"-->
                    <!--onclick='mostrar_dialog_cabecera("table_usuaris_xarxa_cabecera");'>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel·lar-->
            <!--</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--&lt;!&ndash;&ndash;&gt;-->
</div>


{% endif %}