{% extends "gestprj/base.html" %}
{% load static %}
{% block contenido %}
<!--<h1 align="center">Estat Pressupostari</h1>-->
    <!--*Importando datos antiguos(<2009),es normal que ciertos periodos aparezcan vacíos*-->
<br>
    <div class="col-md-12 col-md-offset-0" style="background:white;height:90vh;overflow:scroll;">
    <div id="accordion">
           {% for projecte in projectes %}
            <h3>{{ projecte.codi_resp }}{{projecte.codi_prj }} - {{ projecte.acronim }}</h3>
           <div>
                <p align="left" class="text-left col-md-6">
                NOM PROJECTE: <b id="nombre_del_proyecto">{{ projecte.codi_resp }}{{ projecte.codi_prj }} - {{ projecte.acronim }}</b><br>
                RESPONSABLE: <b>{{ projecte.id_resp__id_usuari__nom_usuari }}</b><br>
                </p>
                <p align="right" class="col-md-3">
                CONCEDIT :<br>
                IVA( {{ projecte.percen_iva }}% ) :<br>
                CÀNON( {{ projecte.percen_canon_creaf }}% ):<br>
                <br>
                NET DISPONIBLE:<br>
                </p>
                <p align="right" class="col-md-3">
                    <b class="datos_contables">{{ projecte.concedit }}</b><br>
                    <b class="datos_contables">{{ projecte.iva }}</b><br>
                    <b class="datos_contables">{{ projecte.canon }}</b><br>
                    <br>
                    <b><u class="datos_contables">{{ projecte.net_disponible }}</u></b><br>
                </p>
               <!--<a class="dt-button buttons-print" tabindex="0" aria-controls="DataTables_Table_3" href="#"><span><span class="glyphicon glyphicon-print" aria-hidden="true">  Imprimir</span></span></a><a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" href="#"><span><span class="glyphicon glyphicon-equalizer" aria-hidden="true"> Excel</span></span></a><a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" href="#"><span><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> PDF</span></span></a><a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_3" href="#"><span><span class="glyphicon glyphicon-align-left" aria-hidden="true"> CSV</span></span></a>-->
                <br><br>
                {% if projecte.periodes %}
                    {% for periode in projecte.periodes %}
                        <h3>Període {{ periode.num_periode }}: De {{ periode.data_min }} a {{ periode.data_max }}</h3>
                        <table class="table table-striped table-bordered datatable table_estat_pressupostari" cod="{{ periode.id_periode }}_{{ periode.data_min }}_{{ periode.data_max }}_{{ projecte.codi_resp }}{{projecte.codi_prj }}" width="100%">
                            <!--<input class="datos" cod="{{ periode.id_periode }}_{{ periode.data_min }}_{{ periode.data_max }}" hidden/>-->
                            <thead>
                            <tr>
                                <th>Partida</th>
                                <th>Pressupostat</th>
                                <th>Gastat</th>
                                <th></th>
                                <th>Saldo</th>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td><b>Totals: </b></td>
                                    <td><b></b></td>
                                    <td><b></b></td>
                                    <td><b></b></td>
                                    <td><b></b></td>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
                        <!--Tabla que contiene el TOTAL de los totales-->
                        <h3>ESTAT PRESSUPOST TOTAL</h3>
                        <table class="table table-striped table-bordered datatable table_estat_pressupostari" total="Si" cod="{{ projecte.id_projecte }}_{{ projecte.data_min }}_{{ projecte.data_max }}_{{ projecte.codi_resp }}{{projecte.codi_prj }}_" width="100%">
                                <!--<input type="text" class="datos" value="{{ projecte.id_projecte }}_{{ projecte.data_min }}_{{ projecte.data_max }}_{{ projecte.codi_resp }}{{projecte.codi_prj }}" />-->
                                <thead>
                                <tr>
                                    <th>Partida</th>
                                    <th>Pressupostat</th>
                                    <th>Gastat</th>
                                    <th></th>
                                    <th>Compromés</th>
                                    <th></th>
                                    <th>Saldo</th>
                                </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td><b>Totals: </b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                            <!--{% if projecte.total_prj_saldo > 0 %}-->
                                                <!--<td bgcolor="LightGreen"><b>{{ projecte.total_prj_pressupostat}}</b></td>-->
                                                <!--<td bgcolor="LightGreen"><b>{{ projecte.total_prj_gastat}}</b></td>-->
                                                <!--<td bgcolor="LightGreen"></td>-->
                                                <!--<td bgcolor="LightGreen"><b>{{ projecte.total_prj_saldo}}</b></td>-->
                                            <!--{% else %}-->
                                                <!--<td bgcolor="LightCoral"><b>{{ projecte.total_prj_pressupostat }}</b></td>-->
                                                <!--<td bgcolor="LightCoral"><b>{{ projecte.total_prj_gastat }}</b></td>-->
                                                <!--<td bgcolor="LightCoral"></td>-->
                                                <!--<td bgcolor="LightCoral"><b>{{ projecte.total_prj_saldo}}</b></td>-->
                                            <!--{% endif %}-->
                                        </tr>
                                </tfoot>
                                <tbody>
                                    <!--{% for key,value in projecte.totales_partidas.items %} &lt;!&ndash;- OJO el .items del final sirve para que el dicctionario devuelva los objetos -&ndash;&gt;-->
                                    <!--<tr>-->
                                        <!--<td>{{ value.nom_partida }}</td>-->
                                        <!--<td>{{ value.total_pressupostat }}</td>-->
                                        <!--<td>{{ value.total_gastat }}</td>-->
                                        <!--<td><a class="btn btn-info info_compte_pres" id="{{ value.id_partida }}" cod="{{ projecte.codi_resp }}{{projecte.codi_prj }}" data_min="0" data_max="0" title="Info" href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></td>-->
                                        <!--<td>{{ value.total_saldo }}</td>-->
                                    <!--</tr>-->
                                    <!--{% endfor %}-->
                                </tbody>
                        </table>
                        <img id="loading2" src="{% static 'imagenes/loading2.gif' %}" hidden/>
                        <div class="info_cuentas_no_asignadas">

                        </div>
                </div>
            {% endfor %}
        </div>
</div>
<!--DIALOGS Y MODALS-->
<div id="dialogs" title=" ">
    <div id="dialog_llista_comptes" class="dialogcont" title="DETALL DESPESES:">
        <table class="table table-striped table-bordered datatable" id="table_llista_despeses" width="100%">
            <!--<a class="btn btn-info" id="imprimir_compte" title="Imprimir" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>-->
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Assent.</th>
                    <th>Compte</th>
                    <th>Descripció</th>
                    <th>Observacions</th>
                    <th>Despeses</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--COMPROMES DE PARTIDA-->
    <div id="dialog_llista_compromes_comptes" class="dialogcont" title="COMPROMÉS DE LA PARTIDA:">
        <!--COMPROMES PERSONAL-->
        <h3>COMPROMÉS DEL PERSONAL</h3>
        <table class="table table-striped table-bordered datatable" id="table_llista_compromes_compte" width="100%">
            <!--<a class="btn btn-info" id="imprimir_compte" title="Imprimir" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>-->
            <thead>
                <tr>
                    <th>Nº Compte</th>
                    <th>Descripció</th>
                    <th>Cost/mes</th>
                    <th>Data inici</th>
                    <th>Data final</th>
                    <th>Compromés</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <!--COMPROMES ALBARANES-->
        <h3>COMPROMÉS D'ALBARANS</h3>
        <table class="table table-striped table-bordered datatable" id="table_llista_compromes_albaranes_compte" width="100%">
            <!--<a class="btn btn-info" id="imprimir_compte" title="Imprimir" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>-->
            <thead>
                <tr>
                    <th>Nº Compte</th>
                    <th>Descripció</th>
                    <th>Raó</th>
                    <th></th>
                    <th>Compromés</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <!--COMPROMES PEDIDOS-->
        <h3>COMPROMÉS DE COMANDES</h3>
        <table class="table table-striped table-bordered datatable" id="table_llista_compromes_pedidos_compte" width="100%">
            <!--<a class="btn btn-info" id="imprimir_compte" title="Imprimir" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>-->
            <thead>
                <tr>
                    <th>Nº Compte</th>
                    <th>Descripció</th>
                    <th>Raó</th>
                    <th></th>
                    <th>Compromés</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--LINEAS DE ALBARAN-->
    <div id="dialog_lineas_albaran" class="dialogcont" title="LÍNIES DE L'ALBARÀ:">
        <table class="table table-striped table-bordered datatable" id="table_lineas_albaran" width="100%">
            <!--<a class="btn btn-info" id="imprimir_compte" title="Imprimir" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>-->
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descripció</th>
                    <th>Preu</th>
                    <th>Unitats demanades</th>
                    <th>Unitats servides</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--LINEAS DE PEDIDOS-->
    <div id="dialog_lineas_pedido" class="dialogcont" title="LÍNIES DE COMANDA:">
        <table class="table table-striped table-bordered datatable" id="table_lineas_pedido" width="100%">
            <!--<a class="btn btn-info" id="imprimir_compte" title="Imprimir" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>-->
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descripció</th>
                    <th>Preu</th>
                    <th>Unitats demanades</th>
                    <th>Unitats servides</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}