{% extends "gestprj/base.html" %}

{% block contenido %}
<!--<script>-->
    <!--var llista_responsables="{{ llista_responsables|safe }}";-->

<!--</script>-->
<!--var llista_projectes="{{ llista_projectes }}';-->
<style>
    .tdcentrado{
        text-align: center;
     }
     .prjabierto{
        background:LightGreen;
     }
     .prjcerrado{
        background:LightCoral;
     }
</style>
<div class="content text-center">

    <!--<h1>Gestió de Projectes</h1>--><br>
    <form id="formulario_projectes_cont" action="/cont_dades/" method="post"><!-- Mantener fuera de la tabla!!-->
        {% for group in user.groups.all %}
            {% if group.name == 'Admins gestprj' or group.name == 'Mods gestprj' %}
                <div class="col-md-3 col-md-offset-0" style="background:white">
                    <table id="table_llista_responsables_cont" class="table table-striped table-bordered datatable"
                           width="100%">
                        <h3>Selecciò per responsable</h3>
                        <!--<input id="nomes_responsables" type="checkbox" />Mostrar projectes dels responsables seleccionats.<br/><br/><br/>-->
                        <thead>
                        <tr>
                            <th>Oberts</th>
                            <th>Tancats</th>
                            <th>Nom</th>
                            <th>Responsable</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}

        <div class="col-md-6 col-md-offset-0" style="background:white">

            <table id="table_llista_projectes_cont" class="table table-striped table-bordered datatable" width="100%">

                {% csrf_token %}


                <h3>Projectes</h3>
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Estat</th>
                    <th>Acrònim</th>
                    <th></th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>

                </tbody>


            </table>
        </div>

        <div class="col-md-3 col-md-offset-0 text-left" style="background:white">
            <br>
            <h4>Fitxes</h4>
            <input name="opcio_cont" type="radio" value="1" checked/>Fitxa Dades Projecte<br>
            <hr>

            <h4>Estat de projectes</h4>
            <input name="opcio_cont" type="radio" value="2" />Estat Pressupostari<br>
            <input name="opcio_cont" type="radio" value="6" />Estat Projectes per Responsable<br>
            {% for group in user.groups.all %}
                {% if group.name == 'Admins gestprj' or group.name == 'Mods gestprj' %}
            <input name="opcio_cont" type="radio" value="8" />Resum Estat Projectes *<br>
            <input name="opcio_cont" type="radio" value="9" />Resum Estat Cànon Projectes per Responsable *<br>
                {% endif %}
            {% endfor %}
            <hr>

            <h4>Ingressos / Despeses</h4>
            {% for group in user.groups.all %}
                {% if group.name == 'Admins gestprj' or group.name == 'Mods gestprj' %}
            <input name="opcio_cont" type="radio" value="3" />Seguiment Despeses Projectes *<br>
            <input name="opcio_cont" type="radio" value="4" />Seguiment Ingressos Projectes *<br>
            <input name="opcio_cont" type="radio" value="10" />Comptes NO assignats a cap projecte *<br>
                {% endif %}
            {% endfor %}
            <input name="opcio_cont" type="radio" value="5" />Ingressos i Despeses<br>
            <input name="opcio_cont" type="radio" value="7" />Resum per partides<br>
            <hr>

            <br>
            Des de:<input id="data_min" name="data_min"/><br>
            Fins a:<input id="data_max" name="data_max"/><br>
            <input type="submit" value="CONTINUAR">
        </div>
    </form>
</div>
{% endblock %}