{% extends "gestprj/base.html" %}

{% block contenido %}
<!--<h1 align="center">Estat Projectes agrupat per Responsable</h1><br><br>-->
<br>
    <div class="col-md-12 col-md-offset-0" style="background:white;height:90vh;overflow:scroll;">
        <div id="accordion">
            {% for responsable in responsables %}
            <h3>{{ responsable.nom_responsable }}</h3>
            <div>
                <p align="left" class="text-left col-md-6">
               ESTAT DELS PROJECTES DEL RESPONSABLE: <b class="nombre_del_responsable">{{ responsable.nom_responsable }}</b><br>
                </p>
                <p align="right" class="col-md-3">
                Fins a: <b>{{ responsable.data_max }}</b>
                </p>
                <table class="table table-striped table-bordered datatable table_resum_estat_prj_resp" fecha_min="{{ responsable.data_min }}" fecha_max="{{ responsable.data_max }}" proyectos="{{ responsable.projectes }}" width="100%">
                        <thead>
                        <tr>
                            <th>Codi</th>
                            <th>Nom</th>
                            <th>Concedit</th>
                            <!--<th>Iva</th>-->
                            <th>Cànon Total</th>
                            <th>Cobrat</th> <!-- Ingressos -->
                            <th>Pendent</th>
                            <th>Despeses</th>
                            <th>Cànon Aplicat</th>
                            <!--<th>Disponible Caixa</th>-->
                            <th>Disponible Real</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                                <tr>
                                    <td></td>
                                    <td><b>Totals: </b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </tfoot>
                        <!--<tbody>-->
                        <!--{% for projecte in responsable.0.projectes %}-->
                        <!--<tr>-->
                            <!--<td>{{ projecte.codi }}</td>-->
                            <!--<td>{{ projecte.nom }}</td>-->
                            <!--<td>{{ projecte.concedit }}</td>-->
                            <!--&lt;!&ndash;<td>{{ projecte.iva }}</td>&ndash;&gt;-->
                            <!--<td>{{ projecte.canon_total }}</td>-->
                            <!--<td>{{ projecte.ingressos }}</td>-->
                            <!--<td>{{ projecte.pendent }}</td>-->
                            <!--<td>{{ projecte.despeses }}</td>-->
                            <!--<td>{{ projecte.canon_aplicat }}</td>-->
                            <!--&lt;!&ndash;<td>{{ projecte.disponible_caixa }}</td>&ndash;&gt;-->
                            <!--<td>{{ projecte.disponible_real }}</td>-->
                        <!--</tr>-->
                        <!--{% endfor %}-->
                        <!--</tbody>-->
                </table>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}