{% extends "gestprj/base.html" %}

{% block contenido %}
<h1 align="center">Resum Estat Projectes</h1><br><br>
<h3 align="center">Fins a : <b>{{ totals.0.data_max }}</b></h3>
    <div class="col-md-10 col-md-offset-1" style="background:white;height:75vh;overflow:scroll;">
            <table class="table table-striped table-bordered datatable table_resum_estat_prj" width="100%">
                    <thead>
                    <tr>
                        <th>Codi</th>
                        <th>Responsable</th>
                        <th>Concedit</th>
                        <th>Iva</th>
                        <th>Cànon Total</th>
                        <th>Ingressos</th>
                        <th>Pendent</th>
                        <th>Despeses</th>
                        <th>Cànon Aplicat</th>
                        <th>Disponible Caixa</th>
                        <th>Disponible Real</th>
                    </tr>
                    </thead>
                    <tfoot>
                            <tr>
                                <td></td>
                                <td><b>Totals: </b></td>
                                {% if totals.0.total_disponible_real > 0 %}
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_concedit}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_iva}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_canon_total}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_ingressos}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_pendent}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_despeses}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_canon_aplicat}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_disponible_caixa}}</b></td>
                                <td bgcolor="LightGreen"><b>{{ totals.0.total_disponible_real}}</b></td>
                                {% else %}
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_concedit}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_iva}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_canon_total}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_ingressos}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_pendent}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_despeses}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_canon_aplicat}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_disponible_caixa}}</b></td>
                                <td bgcolor="LightCoral"><b>{{ totals.0.total_disponible_real}}</b></td>
                                {% endif %}
                            </tr>
                    </tfoot>
                    <tbody>
                    {% for dades in llista_dades %}
                    <tr>
                        <td>{{ dades.0.0.cod_responsable }}</td>
                        <td>{{ dades.0.0.nom_responsable }}</td>
                        <td>{{ dades.0.0.concedit }}</td>
                        <td>{{ dades.0.0.iva }}</td>
                        <td>{{ dades.0.0.canon_total }}</td>
                        <td>{{ dades.0.0.ingressos }}</td>
                        <td>{{ dades.0.0.pendent }}</td>
                        <td>{{ dades.0.0.despeses }}</td>
                        <td>{{ dades.0.0.canon_aplicat }}</td>
                        <td>{{ dades.0.0.disponible_caixa }}</td>
                        <td>{{ dades.0.0.disponible_real }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
    </div>
{% endblock %}